body {
  background-color: #eaeaea;
}

.ui.fixed.inverted.menu {
  background-image: linear-gradient(135deg, #100e09 0%, #888784 69%);
}

.ql-editor {
  min-height:200px;
}

#textContent {
  white-space: pre;
}

#textContent img{
  width : 100%;
  object-fit: contain;
}

